@keyframes blinkAlert {
	0% {
		fill: map-get($colors, backgroundSecondary);
	}

	50% {
		fill: map-get($colors, statusAlert);
	}

	100% {
		fill: map-get($colors, backgroundSecondary);
	}
}

@keyframes fillLoadingIndicator {
	0% {
		width: 0;
	}

	100% {
		width: 100%;
	}
}