.GameUIHeader {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	top: 0;
	left: 0;
	@include padding(small, medium);
	font-size: 0;
	background-color: #fff;

	&__logo {
		width: 175px;
	}

	&__icons {
		path {
			fill: map-get($colors, backgroundSecondary);
		}

		& .active path {
			animation: blinkAlert 500ms infinite;
		}

		.connection {
			margin-right: 10px;
		}
	}
}