.GameUIWinScreen {
	height: 100%;
	width: 100%;
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: space-around;
	top: 0;
	left: 0;
	background-color: map-get($colors, backgroundSecondary);
	z-index: 100;
}