.mt {
	&--0 {
		margin-top: 0!important;
	}

	&--medium {
		@include margin(medium, null, null, null);
	}

	&--large {
		@include margin(large, null, null, null);
	}

	&--firstChild--0 {
		& > *:first-child {
			margin-top: 0!important;
		}
	}
}

.mb {
	&--0 {
		margin-bottom: 0!important;
	}

	&--small {
		@include margin(null, null, small, null);
	}

	&--medium {
		@include margin(null, null, medium, null);
	}

	&--medium--smallOnly {
		@include breakpoint(small only) {
			margin-bottom: map-get(map-get($margins, medium), small);
		}
	}

	&--large {
		@include margin(null, null, large, null);
	}

	&--lastChild--0 {
		& > *:last-child {
			margin-bottom: 0!important;
		}
	}
}